{{!-- 
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
        <main>
            <section>
                {{> title data="All skills" big=true}}
                <ul>
                    {{#each skills}}
                        <li>
                            {{name}}
                            {{#if point includeZero=true}} ({{point}}){{/if}}
                            {{#if isTop}} (Top) {{/if}}

                          {{#unless point includeZero=false}} (зараз вивчаємо) {{/unless}}


                        </li>
                    {{/each}} 
                </ul> 
                
            </section>
             <section>
                {{> title data="All hobbies"}}
                    <ul>
                    {{#each hobbies}}
                        <li>
                            {{name}}
                            {{#if isFavourite}} (Favourite) {{/if}}

                        </li>
                    {{/each}} 
                </ul> 
                
            </section>
        </main>
    {{/with}}
</div>